[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
actfw-core = {editable = true, path = "."}
# Packaging Python Projects
setuptools = "*"
wheel = "*"
twine = "*"
# Document
sphinx = "*"
sphinx-theme = "*"
